<div class="card my-5" style="justify-content: center">
  <div [hidden]="veganized" class="card-body">
    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <label [hidden]="!title.pristine && !(title.control.value.length == 0) && !isDuplicate(title.control.value)"
               style="color: red; font-size: larger"> *</label>
        <input type="text" [(ngModel)]="recipe.title"
               class="form-control"
               id="title"
               name="title" maxlength="25"
               placeholder="Enter the recipe title"
               required #title="ngModel">
        <label [hidden]="!isDuplicate((title.control.value))" style="color: red">A veganized recipe with that title already exists</label>
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label for="ingredients">Ingredients list</label>
          <label [hidden]="!ingredients.pristine && !(ingredients.control.value.length == 0)" style="color: red; font-size: larger"> *</label>
          <textarea
            [(ngModel)]="recipe.ingredients"
            rows="15"
            cols="10"
            name="ingredients"
            class="form-control"
            id="ingredients"
            placeholder={{ingredientsPlaceholder}}
            style="font-style: italic"
            required #ingredients="ngModel"
          ></textarea>
        </div>
        <div class="col-6 form-group">
          <label for="steps">Steps</label>
          <textarea
            [(ngModel)]="recipe.steps"
            rows="15"
            cols="10"
            name="steps"
            class="form-control"
            id="steps"
            placeholder="Enter the recipe steps"
          ></textarea>
        </div>
      </div>
      <button type="submit" [disabled]="!recipeForm.form.valid"
              class="btn btn-info">Veganize!</button>
    </form>
  </div>
  <div [hidden]="!veganized" style="margin-top: 15px">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{recipe.title}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ recipe.veganized }}</td>
      </tr>
      </tbody>
    </table>
    <div class="row" style="margin-bottom: 15px">
      <div class="col">
        <button id="copyRecipe" type="submit" [cdkCopyToClipboard]="copyRecipe()"
                class="btn btn-info">Copy Recipe
        </button>
      </div>
      <div class="col">
        <button (click)="veganizeRecipe()" id="another" type="submit"
                class="btn btn-info">Veganize Another Recipe
        </button>
      </div>
    </div>
  </div>
</div>
